// Конфигурации

// Переменные
$accent-orange: #fe7f18;
$accent-green: #37550f;
$primary-color: #f3f4f6;
$secondary-color: #aaa;

$shadow: 0px 0px 20px 0px rgb(206, 206, 206);

$font-14px: 0.875rem;
$font-18px: 1.125rem;
$font-20px: 1.25rem;

$proxima-light: proxima-nova_light;
$proxima-regular: proxima-nova_regular;
$proxima-bold: proxima-nova_bold;

$round: 50px;

:root {
  font-size: 16px;
  font-family: $proxima-regular;
  line-height: 1.5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::placeholder {
  color: $secondary-color;
}

%flexCenterXY {
  display: flex;
  justify-content: center;
  align-items: center
}

// Медиа запросы

@mixin mediaXs {
  @media screen and (max-width: 400px) {
    @content;
  }
}

@mixin mediaFablet {
  @media screen and (max-width: 600px) {
    @content;
  }
}

@mixin mediaSm {
  @media screen and (min-width: 576px) {
    @content;
  }
}

@mixin mediaMd {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin mediaLg {
  @media screen and (min-width: 992px) {
    @content;
  }
}

@mixin mediaXl {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

// Вспомогательные медиа запросы
@mixin auxiliary {
  @media screen and (max-width: 991px) {
    @content;
  }
}