// Остовные стили
// Mobile first

.container {
  // &_slider {
  //   max-width: 100%;
  //   padding-left: 0;
  //   padding-right: 0;
  // }

  &_flex {
    @extend %flexCenterXY;

    &_column {
      @extend %flexCenterXY;
      flex-direction: column;
    }
  }
}

// Ссылки
.link {
  text-decoration: none;
  cursor: pointer;
  color: #000;

  &_primary {
    font-size: $font-14px;
    color: $accent-orange;
  }

  &_secondary {
    color: $secondary-color;
  }

  &_promo {
    color: $promotion-label-color;
    text-transform: uppercase;
  }

  &_underline {
    text-decoration: underline;
  }
}

.btn {
  @extend %flexCenterXY;

  height: 3em;
  width: 100%;
  margin: auto;
  background-color: $accent-orange;
  color: #fff;

  &_rounded {
    border-radius: $round;
  }

  &_gray {
    background-color: $secondary-color;

    &:hover {
      background-color: $accent-orange;
    }
  }

  &_white {
    background-color: white;
  }
}

.underlined-heading {
  &::after {
    content: "";
    position: absolute;
    bottom: -0.6em;
    left: 0;
    width: 50%;
    border-bottom: 0.125em solid $accent-orange;
  }

  &_short::after {
    width: 30%;
    max-width: 5em;
    border-bottom-width: 0.1em;
  }
}

// Списки (меню)
.list {
  list-style: none;
  padding-left: 0;
}

// Шрифты
.bold {
  font-family: $proxima-bold;
}

.light {
  font-family: $proxima-light;
}



.bread-crumbs {

  &__list {
    display: flex;
  }

  &__item {
    position: relative;
    color: $secondary-color;
    font-size: $font-14px;

    &:not(:first-child) {
      padding-left: 15px;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 6px;
        width: 5px;
        height: 5px;
        border-right: 1px solid $secondary-color;
        border-bottom: 1px solid $secondary-color;
        transform: rotate(-45deg) translateY(-50%);
      }
    }
  }
}

.section,
.post {
  // padding-top: 3.125em;
  // padding-bottom: 3.125em;

  &__header {
    text-align: center;
    grid-area: header;
    // padding-top: 2em;
    // padding-bottom: 2em;

    padding: 1em 0;
  }

  &__h1 {
    position: relative;
    margin: 0 0 0.5em 0;
    font-size: $font-20px;

    &_line::before,
    &_line::after {
      content: "";
      position: absolute;
      top: 50%;
      border-bottom: 0.16rem solid $primary-color;
      // width: 35%;

      width: 15%;
    }

    &_line::before {
      left: 0;
    }

    &_line::after {
      right: 0;
    }
  }

  &__h3 {
    // font-size: $font-20px;
    font-weight: lighter;

    font-size: $font-14px;
  }

  &__view-all-btn {
    margin: 2.5em auto auto;
    // width: 18.75em;
    width: 290px;
    height: 3.125em;
    font-size: $font-18px;
  }

  // Закомментирован из-за большого отступа
  // &_home-slider {
  //   margin-bottom: 3em;
  // }
}

// Вспомогательный блок - выступает в качестве контейнера для различных блоков.
// Объеденяет более мелких или других блоков, для гибкого контроля
// .auxiliary-block {
//   @extend %flexCenterXY;
// }



// Пагинация
.pagination {
  display: flex;
  justify-content: center; // space-between;
  align-items: center;
  // padding-top: 1.25em; // Добавлен нижний отступ сетке товаров
  padding-bottom: 1.25em;
  margin: auto;

  &__list {
    display: flex;
    justify-content: space-around;
    // flex-grow: 1;
    // padding-left: 1em;
    // padding-right: 1em;

  }

  &__list-item {
    @extend %flexCenterXY;
    width: 2.81em;
    text-align: center;
    // flex-grow: 1;
  }

  &__link {
    width: 80%;

    font-size: $font-14px;
    color: #666;

    &_active {
      color: $accent-orange;
    }
  }

  &__btn-prev,
  &__btn-next {
    width: 45px;
    max-width: 45px;
    height: 45px;
    font-size: $font-14px;
    color: $secondary-color;
    background-color: #fff;
    border: transparent;
    border-radius: 50%;
    cursor: pointer;
  }

  &__btn-outline {
    border: 2px solid $primary-color;
  }

  &__btn-txt {
    display: none;
  }
}

// [Секция] "Наши Деревни"
.articles {

  &-grid {
    max-width: 100%;
    display: grid;
    // grid-row-gap: 1.6em;
    grid-gap: 1.6em;
    justify-content: center;
    justify-items: center;
    position: relative;
    grid-template-columns: 1fr;
    margin-bottom: 1.25em;

    &__item {
      // max-width: 360px;
      // width: 22em;
      border: 0.16em solid $primary-color;
      width: 100%;
      max-width: 290px;

      &:hover {
        box-shadow: $shadow;
      }

      &_news {
        background-color: #fff;
      }
    }
  }

  &-tabs {
    @extend %flexCenterXY;

    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;

    &_desktop {
      display: none;
    }

    &__item {
      font-size: $font-14px;
      width: 200px;
      height: 40px;
      // display: flex;
      // justify-content: center;
      // align-items: center;

    }

    &__link {
      @extend %flexCenterXY;

      width: 100%;
      height: 100%;
      color: $secondary-color;

      &_active {
        color: $accent-green;
        background-color: $primary-color;
      }
    }
  }

  &-grid-wrapper {
    position: relative;
    margin-top: 2em; //3.75em;
    padding-top: 1.5em;
    // background-color: $primary-color;
    // padding-top: 3.125em;
    // padding-bottom: 3.125em;

    &_no-margins {
      margin: 0;
    }
  }

  &-content__item {
    animation: fadeEffect 1s;
    /* Fading effect takes 1 second */
  }
}

.grid-image {
  height: 170px;
  overflow: hidden;

  display: flex;
  justify-content: center;
}

article {
  // padding: 1.2em;

  &>* {
    padding: 0.6em 1.2em;
  }

  // Загаловок "плитки"
  h2 {
    font-size: 1.2rem;
    position: relative;
  }
}

// Характеристики участка: площадь | расстояние от МКАД
.area-info {
  &__details {
    display: flex;
    justify-content: space-between;
    font-size: $font-14px;
    border-top: 0.16em solid $primary-color;

    // Значение характеристик
    .value {
      color: $accent-green;
    }
  }

  // Подвал "плитки"
  &__footer {
    background-color: $primary-color;
  }

  &__price {
    font-size: $font-20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_orange {
      color: $accent-orange;
    }
  }

  &__date {
    @extend %date;
  }

  &__news-link {
    margin-top: 1.5em;
    margin-bottom: 1em;
  }

  &__price-and-square {
    @extend %flexCenterXY;

    justify-content: space-between;
    margin-bottom: .5em;
    font-size: $font-20px;
    color: $secondary-color;

    &_column {
      flex-direction: column;
    }
  }
}

.h2-mobile-inline {
  display: inline;
}


// Стилизация иконок (Электричество, газ, вода, дороги)
// Используется на страницах:
// Главная
// Карточа товара (Отдельные страницы участка)
.area-features {
  display: flex;
  flex-direction: row;

  &_extended {
    flex-direction: column;
  }

  // Элементы списка
  &__item {
    margin-left: 0.71em;
    margin-right: 0.71em;

    &:first-child {
      margin-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    // Модификатор списка
    &_extended {
      @extend %flexCenterXY;

      justify-content: flex-start;
      margin: .5em 0;
    }
  }

  &__icon {
    width: 2.5em;
    height: 2.5em;
    display: block;
    cursor: pointer;
    overflow: hidden;
    color: transparent;
    border-radius: 50%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: 50% !important;
    background-color: $accent-green;

    &:hover {
      background-color: $accent-orange;
    }

    // Модификатор иконок
    &_extended {
      width: 3em;
      height: 3em;
    }
  }

  &__txt {
    margin-left: 1em
  }
}

// Электричество
.electrocity {
  background-image: url(../imgs/power-cord.svg);
}

// Газ
.gas {
  background-image: url(../imgs/gas.svg);
}

//  Водапровод
.water {
  background-image: url(../imgs/washing-hand.svg);
}

// Дорога
.roads {
  background-image: url(../imgs/car.svg);
}

// [Секция] Форма обратнтой связи
// .contacts {
//   background-color: $primary-color;
// }

.contact-form {
  display: grid;
  width: 100%;
  // grid-template-columns: repeat(3, 1fr) 12.5em;
  // grid-template-columns: 1fr;
  grid-template-areas:
    "email"
    "phone"
    "name"
    "button";
  grid-gap: 2em 0.625em;
  justify-content: center;

  &__element {
    width: 290px;
    // max-width: 290px;
    height: 3.125em;
    font-size: $font-18px;
    padding-left: 1.875em;
    padding-right: 1.875em;
    background-color: #fff;
    border-radius: $round;
    border: 2px solid $primary-color;

  }

  &__email {
    grid-area: email;
  }

  &__name {
    grid-area: name;
  }

  &__phone {
    grid-area: phone;
  }

  &__submit-btn {
    // max-width: 12.5em;
    width: 290px;
    color: #fff;
    font-size: $font-18px;
    border: transparent;
    background-color: $accent-orange;
    cursor: pointer;
    grid-area: button;
  }
}

.accept-rules {
  max-width: 23em;
  // padding-top: .625em;
  margin-top: 0.625em;
  margin-bottom: 1em;
  // text-align: right;
  text-align: center;
  font-size: 0.75rem;
  color: $secondary-color;

  // .link__underlined_secondary {
  //   color: $secondary-color;
  //   text-decoration: underline solid $secondary-color;
  // }
}

// [Секция] Хлебные крошки
#bread-crumbs {
  padding-top: 2em;
  padding-bottom: 0;
}

// [Секция] Новости
#news-list {
  padding-top: 0
}

// Карточка товара
#product {
  .section {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  // Сброс не нужных отступов
  &>* {
    padding: initial;
  }
}

.main-info {
  margin-top: 1em;
  margin-bottom: 1em;
}

.details {
  // display: grid;
  // grid-template-areas:
  //   "header"
  //   "slider"
  //   "price"
  //   "table";

  &-table {
    grid-area: table;
  }

  &-list {
    &__item {
      display: table;

      &_communication {
        margin-top: 1em;
        margin-bottom: 1em;
      }
    }

    &__property {
      color: $secondary-color;
      font-size: $font-14px;
    }
  }
}

// Слайдер на странице "Карточка товара"
.slider {
  position: relative;
  grid-area: slider;
}

.product-slider {
  // width: 100%;
  // max-width: 290px;
  // height: 250px;
  // grid-area: slider;

  &__img {
    // width: 100%;
    height: 450px;
  }

  .slick-dots {
    bottom: initial;
  }
}

// .product-slider {
//   // width: 100%;
//   overflow: hidden;

//   // &__img {
//   //   width: 100%;
//   // }
// }

.product-price {
  position: relative;
  margin: 1em 0 1.5em;
  font-size: $font-20px;
  color: $accent-orange;
  grid-area: price;

  &::after {
    content: '';
    position: absolute;
    bottom: -.7em;
    left: -15px;
    width: calc(100% + 30px);
    border-bottom: 2px solid $primary-color;
  }

  &__label {
    font-size: $font-14px;
    color: $secondary-color;
  }
}


.share-ribbon {
  @extend %flexCenterXY;
  background-color: $accent-green;
  max-width: 100%;
  height: 50px;
  color: #fff;

  // &__txt,
  // &__soc-btns {
  //   width: 45%;
  // }

  &__txt {
    margin-right: 10px;
    text-align: right;
    line-height: normal;
    font-family: $proxima-light;
  }

  &__soc-btns {
    display: flex;
    justify-content: center;
    align-items: center;

    .fab {
      height: 30px;
      width: 30px;
      margin: 0 5px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $accent-green;
      font-size: 1rem;
      background-color: #fff;
      border-radius: $round
    }
  }

  &_desktop {
    display: none;
  }
}

.contrast-bg {
  background-color: $primary-color;
}

.desc {
  padding-top: 1em;
  padding-bottom: 1em;

  &__list,
  &__nested-list {

    &-item {
      padding-left: 1.2em;
      position: relative;

      &:before {
        position: absolute;
        left: 0;
        color: #f9ac6d;
      }
    }
  }

  &__list-item {
    padding-top: .5em;
    padding-bottom: .5em;

    &::before {
      content: "○";
    }
  }

  &__nested-list-item {
    padding-top: .2em;
    padding-bottom: .2em;

    &::before {
      content: "•";
    }
  }
}

.communications {
  padding-top: 2em;
  padding-bottom: 2em;
}

// Стикеры на странице "Участки"
.stickers {
  margin-bottom: 1em;

  &__list {
    // @extend %flexCenterXY;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__item {
    // @extend %flexCenterXY;
    display: flex;
    align-items: center;
    padding: 1em;
    border: 2px solid $primary-color;
    border-right: transparent;

    &:not(:first-child) {
      border-top: transparent;
      // border-bottom: transparent;
    }
  }

  &__icon {
    width: 40px;
    margin-right: 1em;

    &_dynamic {
      width: auto;
      font-family: $proxima-bold;
      font-size: 1.56rem;
      text-align: center;
      position: relative;

      &::after {
        content: '';
        position: absolute;
        left: 50%;
        display: block;
        width: calc(100% + .5em);
        border-bottom: 3px solid $accent-orange;
        transform: translateX(-50%);
      }
    }
  }

  &__txt {
    font-size: $font-14px;
  }
}

// Страница Новость
.post {
  padding: 0;

  &__date {
    @extend %date;

    text-align-last: left;
  }

  &__h3 {
    margin-bottom: 1em;
  }

  &__image {
    width: auto;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }
}

// Слайдер на главгой
.home-slider {

  .slick-list {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  &__slide {
    // height: 80px;
    // background-image: none !important;
    background-repeat: no-repeat;
    background-size: cover;

    &-top-part {
      height: 80px;
      display: flex;
      align-items: center;
      font-family: $proxima-light;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: right center;
    }
  }

  &__title {
    display: inline;
    font-size: $font-20px;
  }

  &__desc {
    display: inline;
    font-size: $font-14px;
    font-family: $proxima-regular;
  }

  &__detailed-btn {
    display: block;
  }
}

// Отзывы
.testimonials {

  &__slide {
    width: 250px;
    max-width: 250px;
    padding: .75em;
    border: 2px solid $primary-color;
    margin-left: 5px;
    margin-right: 5px;
  }

  &__header {
    @extend %flexCenterXY;
    margin-bottom: 1em;

    &-group {
      margin-left: .75em;
    }
  }

  &__avatar {
    width: 3.75em; // 60px;
    height: 3.75em; // 60px;
  }

  &__city {
    font-size: .75rem;
    color: $secondary-color;
    line-height: 1;
    padding-top: .5em;
  }

  &__body {
    font-size: $font-14px;
    padding-bottom: 1em;
  }
}

// Карта
.map {
  line-height: 0;

  &__img {
    width: 100%;
  }
}