// Конфигурации

// Переменные
$accent-orange: #fe7f18;
$accent-green: #37550f;
$primary-color: #f3f4f6;
$secondary-color: #aaa;

$shadow: 0px 0px 20px 0px rgb(206, 206, 206);

$font-14px: .875rem;
$font-18px: 1.125rem;
$font-20px: 1.25rem;

$round: 50px;

:root {
    font-size: 16px
}

* {
    margin: 0;
    padding: 0
}

.link {
    text-decoration: none;
    cursor: pointer;
    color: #000;

    &_primary {
        font-size: $font-14px;
        color: $accent-orange;
        text-decoration: underline solid $accent-orange
    }

    &_secondary {
        color: $secondary-color;
        text-decoration: underline solid $secondary-color
    }

    &_no-undeline {
        text-decoration: none;
    }

}


::placeholder {
    color: $secondary-color;
}

.section-header__h1 {
    font-size: 2.18rem;
    text-align: center;
}

.underlined-heading {
    &::after {
        content: '';
        position: absolute;
        bottom: -.6em;
        left: 0;
        width: 50%;
        border-bottom: .125em solid $accent-orange;
    }

    &_short::after {
        width: 30%;
        border-bottom-width: .1em
    }
}

.list {
    list-style: none;
    padding-left: 0;
}


// Остовные стили


// header {
//     border: 1px solid red;
// }

.header-content {
    align-items: center;

    .logo {
        width: 300px;
    }

    .text-info {
        text-align: center
    }

    .contact-block {
        display: flex;
        justify-content: space-between;
    }


    .callback-btn {
        color: $accent-orange;
    }

    .contact-btn {
        border-radius: 50%;
        background: #FFF url(../imgs/phone.svg) no-repeat center;
        background-size: 35%;
        box-shadow: 0px 0px 25px 0px rgb(206, 206, 206);
        width: 67px;
        height: 68px;

    }

    .phone-number {
        font-size: 1.4rem;
    }

    // Навигационное меню в шапке
    .header-nav {
        background: $primary-color;

        .header-nav-menu {

            display: flex;
            justify-content: space-between;

            .nav-menu-item {
                position: relative;

                &:hover .nested-nav-menu {
                    display: flex;
                }

                &_active {
                    border-bottom: 4px solid $accent-orange
                }

                a {
                    display: flex;
                    align-items: center;
                    text-transform: uppercase;
                    font-size: 1.2rem;
                    height: 60px;
                    color: #000;

                    &:hover {
                        color: $accent-orange;
                    }
                }

                .nested-nav-menu {
                    position: absolute;
                    display: none;

                    height: 280px;
                    flex-direction: column;
                }
            }
        }
    }
}

.section {
    padding-top: 3.125em;
    padding-bottom: 3.125em;

    .section__header {
        text-align: center;
        padding-top: 2em;
        padding-bottom: 2em;
    }

    .section__h1 {
        position: relative;

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 50%;
            width: 35%;
            // height: .8rem;
            border-bottom: .16rem solid $primary-color;
            // transform: translateY(-50%)
        }

        &::before {
            left: 0
        }

        &::after {
            right: 0
        }
    }

    .section__h3 {
        font-size: $font-20px;
        font-weight: lighter;
    }

    .section__view-all-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2.5em auto;
        width: 18.75em;
        height: 3.125em;
        color: #fff;
        font-size: $font-18px;
        background-color: $accent-orange;
        border-radius: $round;

    }
}

// Секция "Наши Деревни"

#our-villages {
    .articles-grid {
        max-width: 100%;
        display: grid;
        grid-gap: 1.6em;
        grid-template-columns: repeat(3, 1fr);
        justify-items: center;

        .grid-item {
            max-width: 360px;
            width: 22em;
            border: .16em solid $primary-color;

            &:hover {
                box-shadow: $shadow;

            }

            .grid-image {
                height: 170px;
                overflow: hidden;
            }

            article {
                // padding: 1.2em;

                &>* {
                    padding: .6em 1.2em;
                }

                // Загаловок "плитки"
                h2 {
                    font-size: 1.2rem;
                    position: relative;
                    // padding-top: 1em;
                    // padding-bottom: 1em;
                }

                // Описание в "плитке"
                // .item-desc {
                //     padding-top: 1em;
                //     padding-bottom: 1em;
                // }

                // Характеристики участка: площадь | расстояние от МКАД
                .area-info--details {
                    display: flex;
                    justify-content: space-between;
                    font-size: $font-14px;
                    border-top: .16em solid $primary-color;

                    // Значение характеристик
                    .value {
                        color: $accent-green;
                    }
                }

                // Иконки (Электричество, газ, вода)
                .area-info--features--list {

                    // margin-top: 1em;
                    // margin-bottom: 1em;

                    display: flex;
                    flex-direction: row;

                    .area-info--features--list-item {
                        background-color: $accent-green;
                        width: 2.5em;
                        height: 2.5em;
                        margin-left: .71em;
                        margin-right: .71em;
                        border-radius: 50%;
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: 50% !important;
                        cursor: pointer;

                        &:hover {
                            background-color: $accent-orange;
                        }
                    }

                    .area-info--features--list-item:first-child {
                        margin-left: 0;
                    }

                    .area-info--features--list-item:last-child {
                        margin-right: 0;
                    }

                    .electrocity {
                        background-image: url(../imgs/power-cord.svg);
                    }

                    .gas {
                        background-image: url(../imgs/gas.svg);
                    }

                    .water {
                        background-image: url(../imgs/washing-hand.svg);
                    }

                    .car {
                        background-image: url(../imgs/car.svg);
                    }
                }

                // Подвал "плитки"
                .area-info--footer {
                    background-color: $primary-color;

                    .area-info--price {
                        font-size: $font-20px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center
                    }
                }
            }
        }
    }
}

// Форма обратнтой связи
#contact-form {
    background-color: $primary-color;

    .container {
        display: flex;
        flex-direction: column;
        align-items: flex-end
    }

    .contact-form {
        display: grid;
        grid-template-columns: repeat(3, 1fr) 12.5em;
        grid-gap: .625em;

        .contact-form__element {
            // width: 18.75em;
            max-width: 300px;
            height: 3.125em;
            font-size: $font-18px;
            padding-left: 1.875em;
            padding-right: 1.875em;
            background-color: #fff;
            border-radius: $round;
            border: transparent
        }

        .contact-form__submit-btn {

            max-width: 12.5em;
            font-size: $font-18px;
            color: #fff;
            background-color: $accent-orange;
        }
    }

    .accept-rules {
        max-width: 23em;
        padding-top: .625em;
        text-align: right;
        font-size: .75rem;
        color: $secondary-color;

        .link__underlined_secondary {
            color: $secondary-color;
            text-decoration: underline solid $secondary-color
        }
    }
}

// Футер
.footer__main-section {
    background-color: #3d4144;

    .footer__grid {
        display: grid;
        grid-template-columns: 4fr 2fr 2fr;

        .logo-dark {
            width: 21em
        }

        .footer__h1 {
            position: relative;
            margin-bottom: 1.5625em;
            font-size: 1.5625rem;
            color: #fff;
        }

        .footer-nav__menu-item {
            padding-top: .3em
        }

        .footer-nav__menu-item a,
        .contacts-list__item,
        .contacts-list__item a {
            color: $primary-color;
            // text-decoration: none
        }

        .column-contacts {
            display: flex;
            flex-direction: column;
        }

        .contacts-list {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-grow: 1
        }

        .contacts-list__item {
            padding-left: 2.8em;
            background-position: top left;
            background-repeat: no-repeat;
            background-size: 1em;

        }

        .contacts-list__address {
            background-image: url(../imgs/map-ballon.svg);
        }

        .contacts-list__tel {
            background-image: url(../imgs/phone.svg);
        }

        .contacts-list__email {
            background-image: url(../imgs/envelope.svg);
        }
    }


}

.footer__additional-info {
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    color: $secondary-color;
    font-size: $font-14px;
    background-color: #282c2f;


    .container {
        display: flex;
        // flex-direction: column;
        justify-content: space-between;

        .legal-address .link {
            display: block;
            text-align: right;
        }
    }

}